@font-face {
	font-family: Starjedi;
	src: url('./font/Starjedi.ttf');
}
html, body {
	font-family:'starjedi';
	font-size: 16px;
}

h1{
	font-size:7em;
	text-transform: uppercase;
	color:$yellowFontColor;
	text-align:center;
	margin:30px auto;
}
h2 {
	font-size: 3em;
	margin:1rem auto;
	text-align:center;
}

@media(min-width:1268px){
	h1{
		font-size:5em;
	}
	h2{
		font-size: 2em;
	}
}