.catalogue-box__search-box{
	margin:4rem auto;
	width:90%;
}
.catalogue-box__search-box input{
	width:100%;
	margin:0 auto;
	height:100px;
}
.catalogue-box__search-box button{
	width: 100%;
    height: 80px;
    margin: 1% auto;
    color: white;
	background-color: $blueLightSaberColor;
	border-radius: 40px;
}