@font-face {
	font-family: Starjedi;
	src: url('./font/Starjedi.ttf');
}
html, body {
	font-family:'starjedi';
	font-size: 16px;
}

h1{
	font-size:7em;
	text-transform: uppercase;
	color:$yellowFontColor;
	text-align:center;
	margin:30px auto;
}

h2 {
	font-size: 3em;
	margin:1rem auto;
	text-align:center;
}

.catalogue-box__filter>select{
	font-size:1em;
}