@font-face {
	font-family: Starjedi;
	src: url('./font/Starjedi.ttf');
}
body{
	font-family:'starjedi';
}
h1{
	font-size:7em;
	text-transform: uppercase;
	color:$yellowFontColor;
	text-align:center;
	margin:30px auto;
}
.catalogue-box h2{
	margin:1rem auto;
	text-align:center;
	font-size:3em;
}
.catalogue-box__filter>select{
	font-size:1em;
}
.catalogue-box__search-box input{
	font-size:3em;
}
.catalogue-box__search-box button{
    font-size: 3em;
}