/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.p-spacing-top-bottom-20 {
  padding: 20px 0; }

@font-face {
  font-family: Starjedi;
  src: url("./font/Starjedi.ttf"); }
html, body {
  font-family: 'starjedi';
  font-size: 16px; }

h1 {
  font-size: 7em;
  text-transform: uppercase;
  color: #FFD700;
  text-align: center;
  margin: 30px auto; }

h2 {
  font-size: 3em;
  margin: 1rem auto;
  text-align: center; }

.catalogue-box__filter > select {
  font-size: 1em; }

body {
  background-image: url("./images/background.jpg"); }

.catalogue-box {
  width: 90%;
  margin: 1rem 5%;
  min-height: 800px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  padding: 20px; }

.catalogue-box__filter > select {
  width: 100%;
  height: 100px; }

.catalogue-box__search-box {
  margin: 4rem auto;
  width: 90%; }

.search-engine__form {
  margin: 10px; }

.search-engine__input {
  width: 100%;
  margin: 0 auto;
  height: 100px;
  font-size: 3em; }

.search-result___content {
  text-align: center;
  font-size: 3em;
  width: 100%; }

.search-result___content-item {
  border: 2px solid black;
  padding-bottom: 2px; }

.search-result___content-item td {
  padding: 10px; }

.search-button {
  width: 100%;
  height: 80px;
  color: white;
  border: 1px solid transparent;
  background-color: #2719C7;
  border-radius: 40px;
  transition: .8s linear;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3em; }
  .search-button:hover {
    background-color: #CE0C2C;
    cursor: pointer; }

.search-result a {
  width: 100%;
  display: inline-block; }

.search-result__residents-table {
  width: 100%;
  margin: 10px 0; }

.search-result__person-name {
  color: black;
  padding: 2px 0; }

.catalogue-box__catalogue {
  display: inline-block; }

.catalogue-item {
  width: 46%;
  margin: 2%;
  border: 2px solid black;
  height: 150px;
  display: flex;
  align-items: center;
  float: left;
  justify-content: center;
  font-size: 2em; }

/*# sourceMappingURL=style.css.map */
